<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">	
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Clash Decks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="/webjars/materialize/0.97.6/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
<header></header>
  <main>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo modal-trigger">Home</a>
      <ul class="right hide-on-med-and-down" sec:authorize="!isAnonymous()">
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/create"><i class="material-icons left">input</i>Send Your Deck</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/contactus/create"><i class="material-icons left">message</i>Contact Us</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
        <li><a href="#" sec:authentication="principal.fullName"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" sec:authorize="!isAnonymous()">
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/create"><i class="material-icons left">input</i>Send Your Deck</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/contactus/create"><i class="material-icons left">message</i>Contact Us</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
        <li><a href="#" sec:authentication="principal.fullName"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

   <!-- Submit your deck -->
  <div id="submitdeck" class="container" >
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 th:if="${readonly}" th:text="#{deck.view}">Submit your deck</h4>
          
        	<div th:if="${message}" class="alert alert-success">
										<p th:text="${message}" />
		  		  </div>
				  
           <div class="row">
			    <form id="deckForm" th:object="${deck}" th:action="@{/deck/evaluate}"  method="post">
			      <div class="row">
			      
			      <input type="hidden" th:field="*{id}" />
			           
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('nickname')}? 'has-error'">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="NickName" type="text" class="validate"
			          th:field="*{nickname}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('nickname')}"
			          th:errors="*{nickname}" th:class="help-block"/>
			          <label for="NickName" th:text="#{deck.nickname}"></label>
			        </div>
			        
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('clanname')}? 'has-error'">
			          <i class="material-icons prefix">turned_in_not</i>
			          <input id="ClanName" type="text" class="validate"
			          th:field="*{clanname}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('clanname')}"
			          th:errors="*{clanname}" th:class="help-block"/>
			          <label for="ClanName" th:text="#{deck.clanname}"></label>
			        </div>
			        <div class="input-field col s12" th:classappend="${#fields.hasErrors('kingtowerlevel')}? 'has-error'">
			        	<select th:field="*{kingtowerlevel}" th:disabled="true">
					      <option th:value="0">Choose your option</option>
					      <option th:value="1">Level 1</option>
					      <option th:value="2">Level 2</option>
					      <option th:value="3">Level 3</option>
					      <option th:value="4">Level 4</option>
					      <option th:value="5">Level 5</option>
					      <option th:value="6">Level 6</option>
					      <option th:value="7">Level 7</option>
					      <option th:value="8">Level 8</option>
					      <option th:value="9">Level 9</option>
					      <option th:value="10">Level 10</option>
					      <option th:value="11">Level 11</option>
					      <option th:value="12">Level 12</option>
					      <option th:value="13">Level 13</option>
					    </select>
					    <label th:text="#{deck.kingtowerlevel}"></label>				    
					 </div>
					 <div class="input-field col s12" th:classappend="${#fields.hasErrors('arena')}? 'has-error'">
					 <select th:field="*{arena}" th:disabled="true">
					      <option th:value="0">Choose your option</option>
					      <option th:value="1">Arena 1</option>
					      <option th:value="2">Arena 2</option>
					      <option th:value="3">Arena 3</option>
					      <option th:value="4">Arena 4</option>
					      <option th:value="5">Arena 5</option>
					      <option th:value="6">Arena 6</option>
					      <option th:value="7">Arena 7</option>
					      <option th:value="8">Arena 8</option>
					    </select>
					    <label th:text="#{deck.arena}"></label>
					 </div>
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
			          <i class="material-icons prefix">contacts</i>
			          <input id="Email" type="text" class="validate"
			          th:field="*{email}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('email')}"
			          th:errors="*{email}" th:class="help-block"/>
			          <label for="Email" th:text="#{deck.email}"><span class="frm_required">*</span></label>
			        </div>
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('deckname')}? 'has-error'" >
			          <i class="material-icons prefix">grade</i>
			          <input id="Deck Name" type="text" class="validate"
			          th:field="*{deckname}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('deckname')}"
			          th:errors="*{deckname}" th:class="help-block"/>
			          <label for="Deck Name" th:text="#{deck.deckname}" class="active"><span class="frm_required">*</span></label>
			        </div>
			       
			        <div class="input-field col s12" th:classappend="${#fields.hasErrors('guide')}? 'has-error'">
			          <textarea id="Guide" class="materialize-textarea" th:field="*{guide}"
			          th:readonly="${readonly}"></textarea><span th:if="${#fields.hasErrors('guide')}"
			          th:errors="*{guide}" th:class="help-block"/>
			          <label for="Guide" th:text="#{deck.guide}"><span class="validate">*</span></label>
			        </div>
			 	        		  			      
			      <button class="btn waves-effect waves-light blue darken-1" type="submit"
			      	th:if="${!readonly}"
			      	onclick="document.getElementById('deckForm').submit(); return false;">Send
    				<i class="material-icons right">send</i>
  				  </button>
  				  
  				  <div sec:authorize="hasRole('ROLE_ADMIN')" class="input-field col s12" th:classappend="${#fields.hasErrors('status')}? 'has-error'">
						<input type="text" class="validate" id="DeckDeletion"
						th:field="*{deletion}" th:readonly="${!readonly}" /> <span
						th:if="${#fields.hasErrors('deletion')}"
						th:errors="*{deletion}" th:class="help-block" />
						<label for="Deck Reject" th:text="#{deck.confirm}"><span class="validate">*</span></label>
					</div>
			        
			      <a sec:authorize="hasRole('ROLE_ADMIN')" id="editbutton" th:href="@{/deck/edit/}+${deck.id}" th:text="#{crud.action.edit}" class="btn waves-effect waves-light blue darken-1" />
			      
  				  <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn waves-effect waves-light blue darken-1" 
  				    type="submit" onclick="document.getElementById('deckForm').submit(); return false;">Evaluate Deck
    				<i class="material-icons right">send</i>
  				  </button>
  				  
  				  </div>
			    </form>
			</div>
        </div>
      </div>
    </div>
  </div>
 </main>
 <!-- Submit your deck end -->
  <footer id="aboutus" class="page-footer blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
          I am a independent student that made this as a project for my college course. 
          As a independent developer, i decided to make this to help people with difficult at the game
          </p>  
        </div>
       <!--  <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  
  </body>
</html>
