<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Clash Decks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="/webjars/materialize/0.97.6/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
<header></header>
  <main>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home" class="brand-logo modal-trigger">Home</a>
      <ul class="right hide-on-med-and-down" sec:authorize="!isAnonymous()">
        <li><a href="/deck/create"><i class="material-icons left">input</i>Send Your Deck</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/contactus/create"><i class="material-icons left">message</i>Contact Us</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
        <li><a href="#" sec:authentication="principal.fullName"></a></li>

      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/deck/create"><i class="material-icons left">input</i>Send Your Deck</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/contactus/create"><i class="material-icons left">message</i>Contact Us</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
          <li><a href="#" sec:authentication="principal.fullName"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br></br>
        <h1 class="header center light-blue-text text-lighten-1">Clash Decks</h1>
        <div class="row center">
          <h5 class="header col s12 light-blue-text text-lighten-1">Here you can find deck and strategies for Clash Royale</h5>
        </div>
        <br></br>
      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="Unsplashed background img 1"/></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
 
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">You can contact us about any doubt, suggestion and support clicking on
          contactus at the top of the page</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background2.jpg" alt="Unsplashed background img 2"/></div>
  </div>
  </main>
  <footer id="aboutus" class="page-footer blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
          I am a independent student that made this as a project for my college course. 
          As a independent developer, i decided to make this to help people with difficult at the game
          </p>  
        </div>
       <!--  <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  
  </body>
</html>
