<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">	
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Clash Decks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="/webjars/materialize/0.97.6/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
<header></header>
  <main>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home" class="brand-logo modal-trigger">Home</a>
      <ul class="right hide-on-med-and-down" sec:authorize="!isAnonymous()">
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
        <li><a href="#" sec:authentication="principal.fullName"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" sec:authorize="!isAnonymous()">
        <li><a sec:authorize="hasRole('ROLE_USER')" href="/deck/list"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/deck/listadmin"><i class="material-icons left">dashboard</i>View Decks</a></li>
        <li><a href="#aboutus"><i class="material-icons left">live_help</i>About Us</a></li>
        <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
        <li><a href="#" sec:authentication="principal.fullName"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
			        
<!-- Contact us -->
  <div id="contactus" class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
           <div class="row">
           
           		<div th:if="${message2}" class="alert alert-success">
										<p th:text="${message2}" />
				 </div>
           		
			    <form sec:authorize="hasRole('ROLE_USER')" id="contactForm" th:object="${contactus}" th:action="@{/contactus/send}" method="post">
			      <div class="row">
			      	      
			      <input type="hidden" th:field="*{id}" />
			      
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('fullname')}? 'has-error'">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="FullName" type="text" class="validate"
			          th:field="*{fullname}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('fullname')}"
			          th:errors="*{fullname}" th:class="help-block"/>
			          <label for="FullName" th:text="#{contactus.fullname}"></label>
			        </div>
			        <div class="input-field col s6" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="Email" type="tel" class="validate"
			          th:field="*{email}" th:readonly="${readonly}"/> <span th:if="${#fields.hasErrors('email')}"
			          th:errors="*{email}" th:class="help-block"/>
			          <label for="Email" th:text="#{contactus.email}"></label>
			        </div>
			        <div class="input-field col s12">
					 <select th:field="*{type}">
					      <option th:value="null" th:disabled="true">Choose your option</option>
					      <option th:value="Doubt"  >Doubt</option>
					      <option th:value="Suggestion"  >Suggestion</option>
					      <option th:value="Support"  >Support</option>
					 </select>
					    <label th:text="#{contactus.type}"></label>
					 </div>
			        <div class="input-field col s12" th:classappend="${#fields.hasErrors('content')}? 'has-error'">
			          <textarea id="Content" class="materialize-textarea" th:field="*{content}"
			          th:readonly="${readonly}"></textarea><span th:if="${#fields.hasErrors('content')}"
			          th:errors="*{content}" th:class="help-block"/>
			          <label for="Content" th:text="#{contactus.content}"><span class="validate">*</span></label>
			        </div>
			      </div>
			            
			      <button class="btn waves-effect waves-light blue darken-1" type="submit" id="btSubmitForm"
									onclick="document.getElementById('contactForm').submit(); return false;">Send Email
    				<i class="material-icons right">send</i>
  				  </button>
			    </form>
			       
 			</div>
        </div>
      </div>
    </div>
  </div>
<!-- Contact us end -->	   
 </main>
  <footer id="aboutus" class="page-footer blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
          I am a independent student that made this as a project for my college course. 
          As a independent developer, i decided to make this to help people with difficult at the game
          </p>  
        </div>
       <!--  <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  
  </body>
</html>
